@import "./variables.scss";

@mixin background-gray-mobile {
  width: 360px;
  height: 740px;
}

@mixin background-gray {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $backgroundGray;
}

@mixin white-box {
  width: 340px;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 1px 1px 5px 0 $gray-3;
}